<div class="roles">
  <div class="roleCard">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9kkpu24rScClqCSbnr59TtV6e1KsLOD7cToYd2SKL-EODUOOfF3NlDbSRSQP8xXzypKY&usqp=CAU" alt="Pangolin Guerrier">
    <p>Guerrier</p>
  </div>
  <div class="roleCard">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJbUJJxNbeLEejPAxDepcF3K5Pxt4SPLvkdQ&usqp=CAU" alt="Pangolin Alchimiste">
    <p>Alchimiste</p>
  </div>
  <div class="roleCard">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHl0JiYwe6mRPLYqqucH2XoGth7O12pUIqUQ&usqp=CAU" alt="Pangolin Sorcier">
    <p>Sorcier</p>
  </div>
  <div class="roleCard">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTEvSeCf9evK53GSTl4t_u8yRQ4er28555f6w&usqp=CAU" alt="Pangolin Espion">
    <p>Espion</p>
  </div>
  <div class="roleCard">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_CZUnvJYLtVC4O7eCvpdSCcbMD61RaBfGiw&usqp=CAU" alt="Pangolin Enchanteur">
    <p>Enchanteur</p>
  </div>
</div>
